@import 'Styles/common';

#navigation {
    position: fixed;
    top: 5%;
    right: 0;
    z-index: 1;
    width: 50%;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-around;

    .nav-link {
        font-size: 1rem;
        font-family: @openSans;
        font-weight: @light;
        color: white;

        @media screen and (max-width: 1024px) {
            color: @darkNavy;
        }
    }

    .nav-link.active {
        border-width: 0 0 .25rem 0;
        border-color: inherit;
        border-style: solid;

        @media screen and (max-width: 1024px) {
            border-width: 0 0 0.1rem 0;
        }
    }
}

#nav-show {
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 1;
    font-size: 2rem;
    cursor: pointer;
}
