@import 'Styles/variables';

#services {
	width: 100vw;
	height: max-content;
}

#capabilities-wrapper {
	width: 100%;
	height: max-content;
	min-height: 60vh;
	display: flex;
	background: @lightGrey;

	@media screen and (max-width: @tabletWidth) {
		flex-flow: column nowrap;
	}

	> div {
		@halfScreenFlexBox();
	}
}

#capabilities-bio {
	margin: 15% 25%;
	width: 40%;
	height: max-content;
}

#services-table {
	margin: 15% 5%;
	width: 70%;
	height: max-content;
	font-size: 1.25rem;
	text-align: left;

	@media screen and (max-width: @tabletWidth) {
		margin: 10% 0 10% 25%;
	}
}
